{% extends 'base.html' %}

{% block content %}

    <table class="table table-bordered" style="text-align: center">
      <thead>
        <tr>
          <th>Name</th>
          <th>Score</th>
        </tr>
      </thead>
      <tbody>
        {% for s in object_list %}
        <div class="score-entry">
          <tr>
            <td><p>{{ s.name }}<p></td>
              <td><p>{{ s.score }}</p></td>
            </tr>
          </div>
          {% endfor %}
      </tbody>
    </table>
{% endblock content %}
